body {
    margin: 0;
    padding: 0;
    background-color: #282928;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d4d9d7;
}

.main {
    display: flex;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 454px;
    height: 454px;
    border: 2px solid #e309e3;
    box-shadow: 0 0 10px #e309e3;
    margin: 0px auto;
    justify-content: center;
}


.restart {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.restart-button {
    padding: 10px 20px;
    border: 3px solid #7fa1c7;
    border-radius: 7px;
    font-size: 3rem;
    background-color: #8a929c;
}

.restart-button:hover {
    background-color: #63686e;
}

.restart-button:active {
    background-color: #43464a;   
}

.field {
    border: 1px solid #e309e3;
    width: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    color: #003ffc;
}

.message {
    padding: 20px 0;
    font-size: 3rem;
    text-align: center;
    color: #d4d9d7;
}

.field:hover {
    background-color: #1cf61c;
    opacity: 10%;
}